*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine
}
header{
    color: rgb(255, 179, 15);
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    background-color: limegreen;
    justify-content: space-around;
}
button{
    background-color: rgb(151, 252, 36);
    text-shadow: 5px black;
    color: green;
    padding: 10px;
    font-size: 30px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}
a{
    background-color: rgb(151, 252, 36);
    text-shadow: 5px black;
    color: green;
    padding: 10px;
    font-size: 30px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}
article{
    color: #0e6d3d;
    display: flex;
    text-wrap: wrap;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
}
article{
    display: flex;
    font-size: 40px;
}
.image1{
    display: flex;
    padding: 10px;
    width: 50%;
}
.image2{
    display: flex;
    padding: 10px;
    width: 50%;
}
@media only screen and (max-width:767px){
    header{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    button{
        height: 5vh;
        width: 70%;
    }
    nav img{
        height: 30vh;
        width: 50%;
    }
    main{
        flex-direction: column;
    }
    .image1{
        order: 0;
    }
    section{
        flex-direction: column;
    }
}
